.result__container {
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-family: 'Bungee Spice', sans-serif;
    margin-top: 200px;
}